{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}



{% block stylesheets %}
<style>
div{
    background-color:#007791;
}
h3{
    color: darkblue ;
}
</style>
{% endblock %}
{% block body %}
<a href="{{ path('app_accueil') }}">Homepage</a>
    <div>
        <h1>{{articles.title}}</h1>
        <h3>{{articles.auteur}}</h3>
        <h4>{{articles.date|date("m/d/Y")}}</h4>
    </div>
    {% for commentaire in commentaires %}
    <div>
        <h2>{{commentaire.texte}}</h2>
        <h3>{{commentaire.auteur}}</h3>
        <h4>{{commentaire.date|date("m/d/Y")}}</h4>
    </div>
    {% endfor %}
{% endblock %}